.main{
  display: inline;
}
.div1,.div2{
  flex:1;
}
.artboard {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.team-card {
  flex: initial;
  position: relative;
  height: 24rem; 
  width: 17rem; 
  
}

.team-card__side {
  height: 24rem; 
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.team-card__side--front {
  background-image: linear-gradient(to right bottom, #03a9f4, #0062f5), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.team-card__side--back {
  background-color: #fff;
  transform: rotateY(180deg);
}

.team-card:hover .team-card__side--back {
  transform: rotateY(0);
}

.team-card:hover .team-card__side--front {
  transform: rotateY(-180deg);
}

.team-card__theme {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.team-card__theme-box {
  color: #fff;
  margin-bottom: 5rem;
}

.team-card__subject {
  font-family: serif;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.team-card__title {
  font-family: serif;
  font-size: 4rem;
  font-weight: 100;
}

.team-card__cover {
  position: relative;
  background-size: cover;
  height: 7rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, #03a9f4, #0062f5), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.team-card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.team-card__heading-span {
  font-family: serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
}

.team-card__details {
  font-family: serif;
}

.team-card__details ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

.team-card__details ul li {
  text-align: center;
  font-size: 1.5rem;
}

.team-card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 3.5em) {
  .artboard {
    padding: 0rem;
  }

  .team-card {
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }

  .team-card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }

  .team-card__side--front {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }

  .team-card__side--back {
    transform: rotateY(0);
  }

  .team-card:hover .team-card__side--front {
    transform: rotateY(0);
  }

  .team-card__details {
    padding: 3rem 2rem;
  }

  .team-card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 70%;
    text-align: right;
  }

  .team-card__theme-box {
    margin-bottom: 1rem;
  }

  .team-card__title {
    font-size: 1.8rem; /* Adjust font size */
  }

  .team-card__subject {
    font-size: 1.2rem; /* Adjust font size */
  }

  .team-card__details ul li {
    font-size: 1.4rem; /* Adjust font size */
  }
}

@media only screen and (max-width: 15.4375em) {
  .team-card {
    width: 100%;
    max-width: 25rem;
  }

  .team-card__cover {
    height: 10rem;
  }

  .team-card__title {
    font-size: 2rem; /* Adjust font size */
  }

  .team-card__subject {
    font-size: 1rem; /* Adjust font size */
  }

  .team-card__details ul li {
    font-size: 1.2rem; /* Adjust font size */
  }
}
