body{
        background-color: #000000;
        margin: 0%;
        pad: 0;
}

#container{
        
}
#header{

}
#footer{
        
}
.patterns {
        height: 100vh;
}      
svg text {
        font-family: Lora;
        letter-spacing: 10px;
        stroke: rgb(0, 225, 255);
        font-size: 150px;
        font-weight: 700;
        stroke-width: 3;
        animation: textAnimate 5s infinite alternate;
}
      
@keyframes textAnimate {
        0% {
          stroke-dasharray: 0 50%;
          stroke-dashoffset:  20%;
          fill:#fff ;
      
}
        
        100% {
          stroke-dasharray: 50% 0;
          stroke-dashoffstet: -20%;
          fill: hsla(189, 68%, 75%,0%)
 }}
        

      
      
      